# supporting libraries
black==19.3b0
bokeh==1.3.4
dask[complete]==2.6.0
holoplot==0.1.0
holoviews==1.12.6
hvplot==0.5.2
matplotlib==3.1.1
missingno==0.4.2
numpy==1.17.3
openpyxl==3.0.0
pandas==0.25.2
pillow==6.2.0
psutil==5.6.3
pur==5.2.2
rise==5.5.1
seaborn==0.9.0
scikit-learn==0.21.3
streamz==0.5.2

# notebook
jupyter==1.0.0
jupyter-contrib-nbextensions==0.5.1
jupyter-nbextensions-configurator==0.4.1
jupyternotify==0.1.15
ipython==7.8.0
ipywidgets==7.5.1
yapf==0.28.0
